USE [BaseDiploma]
GO
/****** Object:  Table [dbo].[Historico]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historico](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [nvarchar](50) NOT NULL,
	[NombreAnterior] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[DescripcionAnterior] [nvarchar](50) NOT NULL,
	[FechaCambio] [datetime] NOT NULL,
	[IDProducto] [int] NOT NULL,
	[PrecioProducto] [int] NOT NULL,
	[PrecioAnterior] [int] NOT NULL,
 CONSTRAINT [PK_Historico] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idiomas]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idiomas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Idioma] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Idiomas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Compuesto] [bit] NOT NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisosCompuestos]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisosCompuestos](
	[IDPadre] [int] NOT NULL,
	[IDHijo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Precio] [int] NOT NULL,
	[DV] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroUsuarios]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroUsuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RegistroUsuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tag] [nchar](200) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traducciones]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traducciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDTag] [int] NOT NULL,
	[IDIdioma] [int] NOT NULL,
	[Traduccion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Traducciones] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](50) NOT NULL,
	[IDPermiso] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Permisos] FOREIGN KEY([IDPermiso])
REFERENCES [dbo].[Permisos] ([ID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Permisos]
GO
/****** Object:  StoredProcedure [dbo].[S_AgregarHistorico]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_AgregarHistorico]
@IDProducto int,
@NombreProducto nvarchar(50),
@NombreAnterior nvarchar(50),
@Descripcion nvarchar(50),
@DescripcionAnterior nvarchar(50),
@FechaCambio date,
@PrecioProducto int,
@PrecioAnterior int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Historico (NombreProducto,NombreAnterior,Descripcion,DescripcionAnterior,FechaCambio,IDProducto,PrecioProducto,PrecioAnterior) 
	VALUES (@NombreProducto,@NombreAnterior,@Descripcion,@DescripcionAnterior,@FechaCambio,@IDProducto,@PrecioProducto,@PrecioAnterior)
END
GO
/****** Object:  StoredProcedure [dbo].[S_AgregarHistoricoProducto]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_AgregarHistoricoProducto]
@IDProducto int,
@IDRegistro int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO HistoricoProducto (IDProducto,IDRegistro) VALUES (@IDProducto,@IDRegistro)
END
GO
/****** Object:  StoredProcedure [dbo].[S_AgregarIdiomas]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_AgregarIdiomas]
@NombreIdioma nvarchar(50)
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Idiomas (Idioma) values (@NombreIdioma)
END
GO
/****** Object:  StoredProcedure [dbo].[S_AgregarPermisoCompuesto]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_AgregarPermisoCompuesto]
@Nombre nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Permisos (Name, Compuesto) VALUES (@Nombre, 'True')
	SELECT CAST(SCOPE_IDENTITY() AS INT);
END
GO
/****** Object:  StoredProcedure [dbo].[S_AgregarProducto]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_AgregarProducto] 
@Nombre nvarchar(50),
@Descripcion nvarchar(MAX),
@Precio int, 
@DV nvarchar(MAX)

AS
BEGIN

	SET NOCOUNT ON;


	INSERT INTO Productos (Nombre,Descripcion,Precio,DV) VALUES (@Nombre,@Descripcion,@Precio,@DV)
END
GO
/****** Object:  StoredProcedure [dbo].[S_AgregarRelacionPH]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_AgregarRelacionPH]
@IDPadre int,
@IDHijo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO PermisosCompuestos (IDPadre, IDHijo) VALUES (@IDPadre, @IDHijo)
END
GO
/****** Object:  StoredProcedure [dbo].[S_AgregarUsuario]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_AgregarUsuario]
@Nombre nvarchar(50),
@Contrasena nvarchar(50),
@IDPermiso int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT into Usuarios (NombreUsuario,Contrasena,IDPermiso) values (@Nombre, @Contrasena,@IDPermiso) 

END
GO
/****** Object:  StoredProcedure [dbo].[S_BorrarPermisoC]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_BorrarPermisoC]
@ID  int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Permisos
	WHERE ID = @ID and Compuesto = 'True'
END
GO
/****** Object:  StoredProcedure [dbo].[S_BorrarRelacionesPermisoC]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_BorrarRelacionesPermisoC] 
@IDPadre int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM PermisosCompuestos 
	WHERE IDPadre = @IDPadre
END
GO
/****** Object:  StoredProcedure [dbo].[S_CrearRegistro]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_CrearRegistro]
@Nombre nvarchar(50),
@Fecha date, 
@Tipo nvarchar(50)
AS
BEGIN

	SET NOCOUNT ON;


	INSERT INTO RegistroUsuarios (Nombre,Fecha,Tipo) VALUES (@Nombre,@Fecha,@Tipo)
END
GO
/****** Object:  StoredProcedure [dbo].[S_EliminarProducto]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_EliminarProducto]
@ID int
AS
BEGIN

	SET NOCOUNT ON;

    DELETE Productos WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[S_EliminarUsuario]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_EliminarUsuario]
@ID int
AS
BEGIN

	SET NOCOUNT ON;


	DELETE Usuarios
	WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[S_ListarHistorico]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_ListarHistorico]
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT IDProducto, NombreAnterior, NombreAnterior, Descripcion, DescripcionAnterior, PrecioProducto, PrecioAnterior, FechaCambio
	FROM Historico
END
GO
/****** Object:  StoredProcedure [dbo].[S_ListarRegistros]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_ListarRegistros]

AS
BEGIN

	SET NOCOUNT ON;

    SELECT ID,Nombre,Fecha,Tipo FROM RegistroUsuarios
END
GO
/****** Object:  StoredProcedure [dbo].[S_ListarUsuarios]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_ListarUsuarios]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT U.ID, U.NombreUsuario, U.Contrasena, U.IDPermiso, P.Name
	FROM Usuarios U, Permisos P
	WHERE U.IDPermiso = P.ID
END
GO
/****** Object:  StoredProcedure [dbo].[S_Loguearse]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_Loguearse]

@Nombre nvarchar(50),
@Contrasena nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT NombreUsuario, Contrasena from Usuarios where NombreUsuario = @Nombre and Contrasena = @Contrasena
END
GO
/****** Object:  StoredProcedure [dbo].[S_ModificarNombrePermisoC]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_ModificarNombrePermisoC]
@IDPadre int,
@NombreNuevo nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Permisos
	SET Name = @NombreNuevo
	WHERE ID = @IDPadre and Compuesto = 'True'
END
GO
/****** Object:  StoredProcedure [dbo].[S_ModificarProducto]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_ModificarProducto]
@ID int,
@Nombre nvarchar(50),
@Descripcion nvarchar(MAX),
@Precio int,
@DV nvarchar(MAX)

AS
BEGIN

	SET NOCOUNT ON;

    UPDATE Productos
	SET
	Nombre = @Nombre,
	Descripcion = @Descripcion,
	Precio = @Precio,
	DV = @DV
	WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[S_ModificarTraduccion]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_ModificarTraduccion] 
@IDTag int,
@Traduccion nvarchar(50),
@IDIdioma int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

 
	UPDATE Traducciones
	SET Traduccion = @Traduccion
	WHERE IDTag = @IDTag and IDIdioma = @IDIdioma
END
GO
/****** Object:  StoredProcedure [dbo].[S_ModificarUsuario]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_ModificarUsuario] 
@ID int,
@Nombre nvarchar(50),
@Contrasena nvarchar(50),
@IDPermiso int
AS
BEGIN

	SET NOCOUNT ON;

    UPDATE Usuarios
	SET NombreUsuario = @Nombre, Contrasena = @Contrasena, IDPermiso = @IDPermiso
	WHERE ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[S_ObtenerHistoricoProducto]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_ObtenerHistoricoProducto]
@IDProducto int
AS
BEGIN

	SET NOCOUNT ON;

    
	SELECT H.NombreProducto, H.NombreAnterior, H.Descripcion, H.DescripcionAnterior, H.PrecioProducto, H.PrecioAnterior, H.FechaCambio, H.IDProducto, H.ID
	FROM Historico as H, Productos as P
	WHERE @IDProducto = P.ID and H.IDProducto = P.ID
END
GO
/****** Object:  StoredProcedure [dbo].[S_ObtenerIdiomas]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_ObtenerIdiomas]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT I.ID, I.Idioma FROM Idiomas I;
END
GO
/****** Object:  StoredProcedure [dbo].[S_ObtenerNombrePermisoCompuesto]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_ObtenerNombrePermisoCompuesto]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.Name, P.ID FROM Permisos P WHERE P.Compuesto = 1
END
GO
/****** Object:  StoredProcedure [dbo].[S_ObtenerPermisoPorNombreUsuario]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:        <Author,,Name>
-- Create date: <Create Date,,>
-- Description:    <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_ObtenerPermisoPorNombreUsuario]
    -- Add the parameters for the stored procedure here
    @Nombre nvarchar(max)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    SELECT p.ID, P.Name FROM Usuarios U
INNER JOIN Permisos P ON U.IDPermiso = P.ID
WHERE U.NombreUsuario = @Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[S_ObtenerPermisos]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:        <Author,,Name>
-- Create date: <Create Date,,>
-- Description:    <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_ObtenerPermisos] 
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    -- Insert statements for procedure here
    SELECT P.ID, P.Name, P.Compuesto FROM Permisos P;
END
GO
/****** Object:  StoredProcedure [dbo].[S_ObtenerPermisosC]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_ObtenerPermisosC]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.Name, P.ID FROM Permisos as P WHERE P.Compuesto = 'True'
END
GO
/****** Object:  StoredProcedure [dbo].[S_ObtenerPermisosCompuestos]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:        <Author,,Name>
-- Create date: <Create Date,,>
-- Description:    <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_ObtenerPermisosCompuestos]

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    -- Insert statements for procedure here
        SELECT PC.IDPadre, PC.IDHijo FROM PermisosCompuestos PC;
END
GO
/****** Object:  StoredProcedure [dbo].[S_ObtenerProducto]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_ObtenerProducto]

AS
BEGIN

	SET NOCOUNT ON;

   SELECT ID,Nombre,Descripcion,Precio,DV FROM Productos
END
GO
/****** Object:  StoredProcedure [dbo].[S_ObtenerTags]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_ObtenerTags]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from Tags
END
GO
/****** Object:  StoredProcedure [dbo].[S_ObtenerTraduccion]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[S_ObtenerTraduccion] 
	-- Add the parameters for the stored procedure here
	@IdIdioma int, 
	@Key nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT T.Traduccion FROM Traducciones T 
	INNER JOIN Tags TA ON TA.ID = T.IDTag 
	WHERE T.IDIdioma = @IdIdioma 
	AND TA.Tag = @Key
END
GO
/****** Object:  StoredProcedure [dbo].[S_ObtenerTraducciones]    Script Date: 5/8/2026 17:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[S_ObtenerTraducciones]
@IDIdioma int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT t.IDIdioma, T.IDTag, T.Traduccion, TG.Tag
	FROM Traducciones t
	INNER JOIN Tags TG ON T.IDTag = TG.ID
	WHERE t.IDIdioma = @IDIdioma
END
GO
